*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto Thin", serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container-shadow{
    box-shadow: 1px 4px 12px 1px rgba(0,0,0,0.63);
    -webkit-box-shadow: 1px 4px 12px 1px rgba(0,0,0,0.63);
    -moz-box-shadow: 1px 4px 12px 1px rgba(0,0,0,0.63);
    padding: 50px;
    border-radius: 15px;
    background-color: #fdfdfd;
    border: 1px solid #a8a8a8;
    position: relative;
}