/* RESET & BASIC STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
    --white: #fff;
    --darkblue: #1b4965;
    --lightblue: #edf2f4;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
}



/* TABLE STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.table-wrapper {
    overflow-x: auto;
    width: 100%;
}

.table-wrapper table{
    width: 100%;
}

.table-wrapper::-webkit-scrollbar {
    height: 8px;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background: var(--darkblue);
    border-radius: 40px;
}

.table-wrapper::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 40px;
}

.table-wrapper table {
    margin: 50px 0 20px;
    border-collapse: collapse;
    text-align: center;
}

.table-wrapper table th,
.table-wrapper table td {
    padding: 10px;
    min-width: 75px;
}

.table-wrapper table th {
    color: var(--white);
    background: var(--darkblue);
}

.table-wrapper table tbody tr:nth-of-type(even) > * {
    background: var(--lightblue);
}

.table-wrapper table td:first-child {
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-gap: 10px;
    text-align: left;
}

.table-credits {
    font-size: 12px;
    margin-top: 10px;
}
.messageRow{
    position: relative;
    height: 15em;
}

