.logsBlock{
    height: 20em;
    width: 100%;
    overflow-y: scroll;
}

.logsBlock div{
    border-radius: 10px;
}
.no-resize {
  resize: none;
}
.no-resize  textarea {
    width: 100%;
}

.inputBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.messageSection button{
    height: 100%;
    width: 150px;
}

.messagesBlock{
    height: 450px;
    overflow-y: scroll;

}