header {
    background-color: #333;
    color: white;
    padding: 0 20px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
logo {
    height: 40px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li{
    padding: 20px;
    color: white;
}

nav ul li:hover{
    transition: .3ms ease-in-out;
    background-color: #525252;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.account-dropdown{
    position: absolute;
    top: 55px;
    right: 20px;
    display: flex;
    flex-direction: column;
    background-color: #333;
    text-align: center;
}

.dropDown-item{
    padding: 10px 15px;
    margin-top: 5px;
}
.dropDown-item button{
    width: 100%;
    height: 20px;
    border: 0;
    background-color: transparent;
    color: white;
}

.dropDown-item:hover{
    background-color: #525252;

}