header {
    background-color: #333;
    color: white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
logo {
    height: 40px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li{
    padding: 20px;
    color: white;
}

nav ul li:hover{
    transition: .3ms ease-in-out;
    background-color: #525252;
}