notFoundContainer{
    width: 100%;
    height: 100%;
    position: relative;
}
.notFoundBlock{
    color: #525252;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    text-align: center;
}
.notFoundCode{
    font-family: "Comic Sans MS", serif;
    font-size: 125px;
    font-weight: bold;
    color: #525252;
}
.notFoundText{

    font-size: 60px;
    font-family: "Comic Sans MS", serif;

}